<div class="upcomingAppt">
  <svg style="height: 20px;left: 1em;
  position: absolute;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
    <path
      d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
  </svg><span class="">UPCOMING APPOINMENTS</span>
</div>
<div class="bookNowDiv">
  <div style="padding: 20px;">
    <span>New Booking in 2 minutes</span>
    <button class="bookNowButton">Book Now</button>
  </div>
</div>
<div class="appointmentDiv">
  <div style="width:100%;padding: 15px;">
    <button class="buttonGroup4 clinicButton">Clinic</button>
    <button class="buttonGroup4 brownButton">Test</button>
    <button class="buttonGroup4 brownButton">Surgery</button>
    <button class="buttonGroup4 brownButton">Medicine</button>
  </div>
  <div style="width:100%;padding: 15px;display: flex;">
    <div style="width:35%">
      <img style="width: 100%;" src="assets/doctor.png" alt="">
    </div>
    <div style="display: grid;">
      <span>17 September 2021, 9.30 PM</span>
      <span class="appointmentWithDr">Appointment With Doctor Arun</span>
      <span>Doctor World clinic</span>
      <span></span>
    </div>

  </div>
  <div style="width:100%;padding: 15px;">
    <button class="buttonGroup3 reschedule-cancel-button">RESCHEDULE</button>
    <button class="buttonGroup3 reschedule-cancel-button">CANCEL</button>
    <button class="buttonGroup3 brownButton"><svg style="height: 10px;" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 576 512">
        <path
          d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z" />
      </svg> &nbsp; VIEW</button>
  </div>

</div>
<div class="appointmentDiv">
  <div style="width:100%;padding: 15px;">
    <button class="buttonGroup4 clinicButton">Clinic</button>
    <button class="buttonGroup4 clinicButton">Test</button>
    <button class="buttonGroup4 brownButton">Surgery</button>
    <button class="buttonGroup4 brownButton">Medicine</button>
  </div>
  <div style="width:100%;padding: 15px;display: flex;">
    <div style="width:35%">
      <img style="width: 100%;" src="assets/doctor.png" alt="">
    </div>
    <div style="display: grid;">
      <span>17 September 2021, 9.30 PM</span>
      <span class="appointmentWithDr">Appointment With Doctor Arun</span>
      <span>Doctor World clinic</span>
      <span>Test: X-Ray Test</span>
    </div>

  </div>
  <div style="width:100%;padding: 15px;">
    <button class="buttonGroup3 reschedule-cancel-button">RESCHEDULE</button>
    <button class="buttonGroup3 reschedule-cancel-button">CANCEL</button>
    <button class="buttonGroup3 brownButton">
      <svg style="height: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
        <path
          d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z" />
      </svg> &nbsp; VIEW</button>
  </div>

</div>

<button class="backButton">BACK</button>

<!-- <app-test></app-test> -->
